<h1>Angular 4: Template-driven forms</h1>
<form #validateForm="ngForm" (ngSubmit)="register(validateForm)" countryCity telephoneNumbers novalidate>
  <p> Is "validateForm" valid? {{(validateForm.valid?'Yes':'No')}} </p>

  <div>
    <label>Name</label>
    <input type="text" name="name" #name="ngModel" ngModel required>
    <errors [control]="name"></errors>
  </div>
  <div>
    <label>Email</label>
    <input type="text" name="email" #email="ngModel" ngModel required email-validate>
    <errors [control]="email"></errors>
  </div>
  <div>
    <label>Age</label>
    <input type="number" name="age" #age="ngModel" ngModel required age-validate>
    <errors [control]="age"></errors>
  </div>

  <div ngModelGroup="address">
    <h3>Address</h3>
    <div>
      <label>Country</label>
      <input type="text" name="country" #country="ngModel" ngModel required minlength="5" maxlength="30">
      <errors [control]="country"></errors>
    </div>
    <div>
      <label>City</label>
      <input type="text" name="city" ngModel required>
    </div>
  </div>

  <errors [control]="validateForm"></errors>

  <pre>{{validateForm.value | json}}</pre>
  <button type="submit" [disabled]="validateForm.invalid">Submit</button>
</form>
